.project {
    border: 0.1rem solid transparent;
    border-color: var(--border-default);
    border-radius: 0.3rem;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover,
    &:focus-within {
        transform: translateY(-0.2rem);
        border-color: var(--accent-hover);
    }

    h3 {
        text-transform: capitalize;
    }

    &--description {
        margin-top: 1rem;
        flex-grow: 1;
    }

    &--stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.2rem 0;

        &-item {
            margin: 0.5rem;
        }
    }

    &--lang {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
