.project {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;

    &:hover {
        transform: translateY(0.2rem);
    }

    &--description {
        margin-top: 1rem;
    }

    &--stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.2rem 0;

        &-item {
            margin: 0.5rem;
            font-weight: 500;
        }
    }

    .link--icon {
        margin-left: 0.5rem;
    }
}
