.about {
    flex-direction: column;

    &--role {
        margin-top: 1.2rem;
    }

    &--desc {
        max-width: 60rem;
        white-space: break-spaces;
    }

    &--desc,
    &--contact {
        margin-top: 4rem;
        gap: 3rem;
        flex-flow: wrap;
        justify-content: center;
    }
}
