.about {
    flex-direction: column;
    margin-top: 3em;

    &__name {
        color: var(--clr-primary);
    }

    &__role {
        margin-top: 1.2em;
    }

    &__desc {
        font-size: 1.6rem;
        max-width: 600px;
    }

    &__desc,
    &__contact {
        margin-top: 2.4em;
    }

    .link--icon {
        margin-right: 0.8em;
    }

    .btn--outline {
        margin-right: 1em;
    }

    @media (max-width: 600px) {
        .app & {
            align-items: flex-start;
            margin-top: 2em;
        }
    }
}
