.nav {
    &--list {
        margin-right: 1.5rem;
        display: flex;
    }
    &--list-item {
        margin-left: 1.5rem;
    }

    &--menu {
        text-indent: -9999rem;
    }

    @media (max-width: #{convert-px-to-rem(600)}) {
        &--list {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &--list-item {
            margin: 0.5rem 0;
        }

        &--menu {
            display: flex;
            z-index: 2;
            margin-left: 2rem;
            text-indent: 0;
        }
    }
}
