[data-crt="on"] {
    font-family: Consolas, monospace;
    color: var(--accent);
    text-shadow:
        0 0 0.5rem var(--accent),
        0 0 1.5rem var(--accent),
        0 0 2.5rem var(--accent);

    .btn:not(.btn--icon) {
        box-shadow:
            0 0 0.2rem var(--accent),
            0 0 0.8rem var(--accent);
    }

    svg {
        filter: url("#crt-glow");
    }

    .scanlines {
        position: fixed;
        pointer-events: none;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
            repeating-linear-gradient(
                0deg,
                #0000001A 0,
                #0000001A 0.2rem,
                #00000000 0.2rem,
                #00000000 0.4rem
            );
    }
}
