.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
