// add some global variables here
// they are available in all scss files
// see webpack config for more details

$sm: 576 !default;
$md: 768 !default;
$lg: 992 !default;
$xl: 1200 !default;

$breakpoints: (
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
) !default;

@function convert-px-to-rem($rem) {
    $calculatedValue: calc($rem / 16);

    @return #{$calculatedValue} + rem;
}
