* {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

html {
   font-size: 10px;
   font-family: 'Lato-Regular';
   color: var(--text-primary);
   scroll-behavior: smooth;

    @media (max-width: #{convert-px-to-rem(600)}) {
        font-size: 9px;
    }
}

body {
    background: var(--background-primary);
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
