@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('./../assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('./../assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('./../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}
