@import './common';
@import './fonts';
@import './theme';

main {
    max-width: 1100rem;
    width: 95%;
    margin: 0 auto;
}

.section {
    margin-top: 5rem;
}

.section__title {
    text-align: center;
    margin-bottom: 2rem;
}

.center {
    display: flex;
    align-items: center;
}

.link {
    color: var(--accent);
    padding: 0 0 0.3rem 0;
    position: relative;

    &:hover {
        color: var(--accent);
    }

    &::before {
        content: '';
        display: inline;
        width: 0%;
        height: 0.2rem;
        position: absolute;
        bottom: 0;
        background-color: var(--accent);
        transition: width 0.1s ease-in;
    }

    &:hover::before,
    &:focus::before {
        width: 100%;
    }
}

.btn {
    display: block;
    cursor: pointer;
    padding: 0.8rem 1.4rem;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;

    &--outline {
        color: var(--accent);
        border: 0.1rem solid var(--accent);
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-radius: 0.3rem;

        &:hover,
        &:focus {
            color: var(--accent-hover);
        }

        &:before {
            content: '';
            position: absolute;
            background-color: var(--accent-hover);
            right: 100%;
            bottom: 0;
            left: 0;
            top: 0;
            z-index: -1;
            transition: right 0.1s ease-in-out;
        }

        &:hover:before,
        &:focus:before {
            right: 0;
        }
    }

    &--plain {
        background-color: var(--accent);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border: 0;

        &:hover {
            transform: translateY(-4px);
        }
    }

    &--icon {
        padding: 0;

        &:hover,
        &:focus {
            color: var(--accent-hover);
        }

        &:active {
            transform: translateY(-0.1rem);
        }
    }
}
