.personal {
    flex-direction: column;

    &--desc {
        max-width: 60rem;
        margin-top: 2.4rem;
        gap: 3rem;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        position: relative;
        padding-left: 2rem;
    }

    ul li::before {
        content: '•';
        color: var(--accent);
        position: absolute;
        left: 0;
        top: -0.9rem;
        font-size: 2.5rem;
    }
}
